<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css"
        crossorigin="anonymous"
    >
    <script
        src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js"
        crossorigin="anonymous"
    >
    </script>
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    {% block conteudo %}{% endblock %}
    <footer>
        <p>&copy; 2025 Sistema de doação de livros. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
